<br>
<br>
<br>
<br>
<br>
<span>CONTACT VAN MARCKE</span>
<img src="" alt="">
<div class="contactForm">
    <span>Name <span style="color: red;">(Required)</span></span><br>
    <div class="nameCase">
        <div>
            <input id="nameInput"><br>
            <label id="nameLabel">First</label>
        </div>
        <div>
            <input id="nameInput"><br>
            <label id="nameLabel">Last</label>
        </div>
    </div>
    <label>Email <span style="color: red;">(Required)</span></label><br>
    <input id="nameInput"><br>
    <label>Phone Number</label><br>
    <input id="nameInput"><br>
    <label>Leave a Message</label><br>
    <input id="nameInput"><br>
    <button>Submit</button>
</div>
