.carouselImg{
    height: 650px;
    width: auto;
}
.carousel-item{
    position: relative;
    text-align: center;
    color: red;    
}
.carousel-text{
    position: absolute;
    bottom: 50%;
    margin-left: 55px;
    
}
.containerContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.pillContainer{
    width: 80vw;
    height: 168px;
    position: absolute;
    margin-top: -59px;
    background-color: #0092CB;
    border-radius: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pillText{
    width: 26vw;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    word-wrap: normal;
    line-height: 49px;
    font-size: 30px;
    font-family: montserrat;
}
#searchStore{
    width: 522px;
    height: 11vh;
    margin-right: 55px;
    border-radius: 100px;
    border: none;
    position: relative;
}
#pillBtn{
    width: 5vw;
    height: 10vh;
    border-radius: 100px;
    border: none;
    background-color: #002B48;
    color: white;
    position: absolute;
    margin-left: 392px;
}
.inputAndBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicesBox{
    display: flex;
    justify-content: center;
}
.ourServicesContain{
    width: 1260px;
    height: 346px;
    background-image: linear-gradient(290deg, #0092CB 0%, #002B48 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    padding: 0px 280px 0px 280px;
    position: relative;
}
.ourServicesContain h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: montserrat;
    position: relative;
}
#seahorse{
    width: 200px;
    height: 400px;
    position: absolute;
    margin-left: 900px;
    margin-top: 20px;
}
.cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 429px;
}
.cardOne{
    width: 376px;
    height: 475px;
    margin-right: 824px;
    margin-top: -141px;
    position: absolute;
    border-radius: 12px;
    font-family: montserrat;
}
.cardTwo{
    width: 376px;
    height: 475px;
    position: absolute;
    margin: 0px 70px 0px 70px;
    margin-top: -141px;
    border-radius: 12px;
    font-family: montserrat;
}
.cardThree{
    width: 376px;
    height: 475px;
    position: absolute;
    margin-right: -824px;
    margin-top: -141px;
    border-radius: 12px;
    font-family: montserrat;
}
#cardImg{
    height: auto;
    width: 376px;
    
}
.readBtn{
    width: 136px;
    height: 53px;
    border-radius: 100px;
    border: none;
    background-color: #0092CB;
    color: white;
    position: absolute;
    margin-left: 47%;
    margin-top: -27px;
    z-index: 1;
}
.vmMessage{
    background-color: #e4e4e4;
    height: 600px;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
#msgImg{
    margin: 50px;
}
.msgText{
    padding-top: 70px;
    font-family: montserrat;
    color: #002B48;
}
#msgHeading{
    line-height: 50px;
    font-weight: 900;
}
.msgInfo{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 514px;
    height: 93px;
    margin-top: 485px;
    margin-left: -602px;
    border-radius: 12px;
}
#founded{
    
    line-height: 1px;
}
#employees{
    line-height: 1px;
}
.bonusRewards{
    background-color: #002B48;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: -24px;
}
.rewardsContainer{
    display: flex;
    justify-content: center;
}
.itemContainer{
    display: flex;
    justify-content: center;
}
.bonusItem{
    width: 376px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    color: #002B48;
    padding: 30px;
    border-radius: 12px;
}
.bonusRewards p{
    font-family:'roboto';
}
.textContainer{
    display: flex;

}
#bonusImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 30px;
    background-color: #E4F3FF;
    border-radius: 60px;
}
.leftText{
    width: 40vw;
    margin-left: 40px;    
}
.rightText{
    width: 60vw;
    margin-left: 100px;
    margin-right: 100px;
}
#rewardsBtn{
    width: 136px;
    height: 53px;
    border-radius: 100px;
    border: none;
    background-color: #0092CB;
    color: white;
}
.findLocalStore{
    width: auto;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://vanmarckeplumbingsupply.com/wp-content/uploads/2022/06/Group-182-min.jpg);
    padding: 50px;
    color: #002B48;
}
.findLocalContainer{
    margin-left: 460px;
    
}
#findLocalInput{
    width: 450px;
    height: 60px;
    border-radius: 50px;
    border: none;
    padding-left: 15px;
    position: relative;
}
#findLocalBtn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 33px;
    background-color: #0092CB;
    color: white;
    position: absolute;
    margin-top: -57px;
    margin-left: 392px;
}
.lineCardContainer{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002B48;
}
#lineTitle{
    margin: 92px;
    font-size: 46px;
}
#lineDesc{
    margin: 100px;
}
#lineBtn{
    width: 15vw;
    height: 10vh;
    border-radius: 100px;
    border: none;
    background-color: #0092CB;
    color: white;
}
.logoCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 14px;
}
.logoImg{
    display: flex;
    flex-direction: row;
}
.testContainer{
    
}