.footLocator{
    width: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.locatorOverlay{
    width: 1050px;
    height: 450px;
    background-color: white;
    position: absolute;
    margin-left: 25%;
    border-radius: 12px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.locatorContent{
    margin-top: 38px;
    margin-left: 120px;
    margin-right: 120px;
    font-family: montserrat;
    color: #002B48;
}

.locatorP{
    margin-bottom: 30px;
    padding: 30px;
    color: #002B48;
    font-family: montserrat;


}
.locatorImg{
    width: 100vw;
    height: 800px;
    position: relative;
}
.locatorText{
    position: absolute;
   top: 1200px;
}
.locatorInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #0092CB;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#codeInput{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #fcfcfc;
    padding-left: 30px;
    font-family: montserrat;
    font-size: 20px;
    position: relative;
}
#locatorBtn{
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #002B48;
    color: white;
    font-family: montserrat;
    font-size: 20px;
    position: absolute;
    right: 274px;
}
.newsletterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 100%;
    
}
#newsEmailInput{
    width: 400px;
    height: 45px;
    border-radius: 100px;
    border: none;
    position: relative;
    margin-left: 100px;
    background-color: #fcfcfc;
    border: 1px solid silver;
    padding-left: 30px;
}
#emailNewsBtn{
    height: 45px;
    width: 65px;
    border-radius: 100px;
    border: none;
    background-color: #0092CB;
    color: white;
    position: absolute;
    right: 285px;
    font-family: montserrat;

}
.lgContainer{
    bottom: 0;
    width: 100%;
    height: 300px;  
    background-color: #002B48;
}
.footerLinks{
    height: 120px;
    width: 100%;
    padding: 15px;
}
.linkList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul{
    list-style-type: none;
    align-items: center;
    margin-top: 40px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.socialItem{
    color: #0092CB;
}
p{
    display: flex;
    justify-content: center;
    color: gray;
    padding-top: 90px;
}
.socialLinks{
    display: flex;
    justify-content: center;
}
